
.questionOl {
	font-size:20px;
	color:white;
}

.actionTable {
	position:fixed;
	top:380px;
	left:0px;
	width:100%;
	/*background-color:#007597; 跟背景保持一致*/
}

.actionButton {
    width:100%;
    height:auto;
    font-size:20pt;
    background-image:url(action_btn.9.png);
    cursor:hand;
    /*background:#F0F0F0 repeat-x;*/
}

.hiddenCheckbox {
    display:none;
}

.divCheckbox {
	font-size:26px;
	background-image:url(checkbox_none.png);
	background-repeat:no-repeat;
	display: inline; /* 不换行 */
}

.divCheckboxOn {
	font-size:26px;
	background-image:url(checkbox_check.png);
	background-repeat:no-repeat;
	/*background-position: 0% 50%;*/
	display: inline; /* 不换行 */
}

