
.actionButton {
    width:120px;
    background-image:url(action_btn.9.png);
}

.buttonCss{
 background:#F0F0F0 repeat-x;
 padding-top:3px;
 border-top:1px solid #708090;
 border-right:1px solid #708090;
 border-bottom:1px solid #708090;
 border-left:1px solid #708090; 
 width:120px;
 height:auto;
 font-size:10pt;
 cursor:hand;
 text-align:right;
}