<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zknx.hn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />  

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/ThemeActivity" >
        
        <activity
            android:name=".Entrance"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"
            android:exported="true"
            android:theme="@style/Popup" />
        
        <service
            android:name=".DataService"
            android:exported="false" />
        
        <activity
            android:name=".Function"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"
            android:exported="false" />
        
        <activity
            android:name=".Login"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:exported="false"
            android:theme="@style/Popup" />
        
        <!--activity
            android:name=".Home"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity-->
        
        <receiver android:name=".BootReceiver">
		    <intent-filter>
		    <!-- 系统启动完成后会调用-->
		    	<action android:name="android.intent.action.BOOT_COMPLETED">
		    	</action>
		    </intent-filter>
		</receiver>

    </application>

</manifest>